/*CONF BODY - CUERPO DE LA PAG ANCHO BAR - COLOR BAR*/
body::-webkit-scrollbar{
    width: 10px;
    background: #333;
}

/*CONF CONTENIDO BAR - TRANSPARENCIA - RADIO - BORDE COLOR */
body::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,.2);
    border-radius: 10px;
    border-right: 2px solid #333;
}

/*
.normas-minsa::-webkit-scrollbar{
    width: 10px;
    background: #333;
}

.normas::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,.2);
    border-radius: 10px;
    border-right: 2px solid #333;
}*/